@import './config/mixins';
@import './config/variables';

@font-face {
  font-family: "Lato";
  src: url("../../fonts/latoregular.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato';
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1% 7.8% 1% 8.5%;
  background: #1A76C8;

  @include phone {
    padding: 3% 7.8% 3% 8.5%;
  }

  @include mobile {
    padding: 3%;
  }

  @include big-desktop {
    width: 100%;
  }
}

.big-desktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include big-desktop {
    align-self: center;
    width: 1600px;
  }
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;

  @include fold {
    font-size: 20px;
    line-height: 29px;
  }
}

.withdraw {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  @include fold {
    font-size: 14px;
    line-height: 19px;
  }
}



.wrap {
  width: 100%;
  padding: 80px 330px 160px 330px;

  

  @include big-desktop {
    align-self: center;
    width: 1600px;
    padding: 6% 22% 9.8% 22%;
  }

  @include big {
    padding: 0;
  }

  @include desktop {
    padding: 5% 22% 9.8% 22%;
  }

  @include phone {
    padding: 22% 10% 35% 10%;
  }

  @include mobile {
    padding: 8% 2% 15% 2%;

  }

  @include portrait-up {
    padding: 21.2% 5% 35% 7%;
  }

  @include galaxy {
    padding: 19% 4% 25% 4%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  @include big-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include landscape-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
}

.main-img {
  display: flex;
  align-items: start;
  width: 100%;
  margin-left: 272px;
  margin-bottom: 40px;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}



.form-fields-name {
  margin-bottom: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

.form-fields-enter {
  width: 580px;
  padding: 14px 16px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
}

textarea {
	overflow: auto;
}

.form-little {
  display: flex;
  flex-direction: row;
}

.little {
  margin-bottom: 24px;
  width: 280px;
}

.form-fields-little {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 280px;
  margin-left: 20px;
}

.form-fields-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;
  @include desktop {
    width: 243px;
  }

  @include phone {
    width: 144px;
  }

   @include portrait-up {
    width: 129px;
  }
}

.form-fields-amount-money {
  width: 100%;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
  background-color: #FDFDFF;
}

.form-fields-money:focus {
  outline: none;

}

.form-fields-amount-label {
  height: 15px;
  width: 10px;
  margin: 2px 5px;
}

.form-fields-text {
  padding: 14px 253px 14px 16px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #0C3152;

  @include big-desktop {
    width: 100%;
  }
}

.footer-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% ;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  @include mobile {

    width: 30%;
  }
}

.filling {
  padding: 2% 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  cursor:pointer;
  color: #FFFFFF;
  @include mobile {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  @include fold {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }


}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background: #1A76C8;
  @include mobile {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

.icons-logo {
  @include mobile {
    width: 13px;
    height: 12px;
  }
}