@import './config/mixins';
@import './config/variables';

@font-face {
  font-family: "Lato";
  src: url("../../fonts/latoregular.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato';
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1% 7.8% 1% 8.5%;
  background: #1A76C8;

  @include phone {
    padding: 3% 7.8% 3% 8.5%;
  }

  @include mobile {
    padding: 3%;
  }

  @include big-desktop {
    width: 100%;
  }
}

.big-desktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include big-desktop {
    align-self: center;
    width: 1600px;
  }
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;

  @include fold {
    font-size: 20px;
    line-height: 29px;
  }
}

.head-text {
  margin-right: 700px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  @include desktop {
    margin-right: 400px;
  }

  @include phone {
    margin: 0 80px;
  }

  @include landscape-up {
    margin: 0 70px;
  }

  @include mobile {
    margin: 0 70px;
  }

  @include portrait-up {
    font-size: 19px;
    line-height: 22px;
    margin: 0 50px;
  }
}

.withdraw {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  @include fold {
    font-size: 14px;
    line-height: 19px;
  }
}



.wrap {
  width: 100%;
  padding: 80px 330px 120px 330px;

  

  @include big-desktop {
    align-self: center;
    width: 1600px;
    padding: 6% 22% 9.8% 22%;
  }

  @include big {
    padding: 4% 10% 7% 10%;
  }

  @include desktop {
    padding: 5% 22% 9.8% 22%;
  }


  @include mobile {
    padding: 8% 6% 15% 6%;

  }

  @include portrait-up {
    padding: 14.2% 5% 21% 7%;
  }

  @include galaxy {
    padding: 19% 4% 25% 4%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;


  @include big-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include landscape-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  
}

.main-descriotion {
  display: flex;
  flex-direction: column;
}

.description-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
}

.description-text {
  margin-top: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.72);
}

.card-active {
  display: flex;
  flex-direction: column;
}

.active-description {
  margin-top: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

.active-amount {
  width: 109px;
  margin-top: 16px;
  padding-bottom: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.94);

}

.main-img {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.img-card {
  height: 88px;
  width: 210px;
  border: none; 
  border-radius: 8px;
  margin-right: 16px;
  box-sizing: content-box;
}

.card {
  box-sizing: content-box;
  width: 100%;
}

.card:hover { 
  box-sizing: content-box;
  width: 210px;
  height: 88px;
  margin-left: -2px;
  margin-top: -2px;
}

.img-card:hover {
  height: 88px;
  width: 210px;
  border: 2px solid #1A76C8;
  box-sizing: border-box;
  border-radius: 9px;
}

.main-card {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.main-card-field {
  width: 350px;
  padding: 10px 0px 10px 12px;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  box-sizing: border-box
}

.main-card-form {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.main-card-form-data {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.card-form-data {
  width: 55px;
  margin-right: 8px;
  padding: 9px;
  text-align: center;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);
}

.card-form-slash {
  width: 5.5px;
  height: 14px;
  margin-right: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 41px;
  color: #C0C0BF;
}

.main-card-form-cvc {
  display: flex;
  flex-direction: row;
  width: 90px;
  margin-right: 8px;
  padding: 9px;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);
}

.card-form-data-cvc {
  width: 100%;
  margin-right: 3px;
  text-align: center;
  border: none;
  background: #F9F9F9;
}

.main-phone {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.main-phone-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

.main-phone-field {
  width: 580px;
  margin-top: 8px;
  padding: 14px 16px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.48);
}

.main-payment {
  display: flex;
  flex-direction: column;
}

.main-payment-text {
  margin-top: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.48);
}

.main-payment-block {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.payment-block-button {
  padding: 16px 37px;
  background: #1A76C8;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;
}

.payment-block-text {
  margin-left: 24px;
  align-self: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.32);
}

.text-link {
  cursor: pointer;
  text-decoration: underline;
  color:#1A76C8;
}

input {
  outline: none;
}



.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #0C3152;

  @include big-desktop {
    width: 100%;
  }
}

.footer-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% ;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  @include mobile {

    width: 30%;
  }
}

.filling {
  padding: 2% 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  cursor:pointer;
  color: #FFFFFF;
  @include mobile {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  @include fold {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }


}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background: #1A76C8;
  @include mobile {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

.icons-logo {
  @include mobile {
    width: 13px;
    height: 12px;
  }
}