@import '../config/mixins';
@import '../config/variables';

@font-face {
  font-family: "Lato";
  src: url("../../../fonts/latoregular.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("../../../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}


body {
  @include body;
}

.head {
  @include head;

  @include mobile {
    padding: 3%;
  }

  @include big-desktop {
    width: 100%;
  }
}

.big-desktop {
  @include head-txt;

  @include big-desktop {
    align-self: center;
    width: 1600px;
  }
}

.logo {
  @include logo;

  @include fold {
    font-size: 20px;
    line-height: 29px;
  }
}

.head-text {
  @include roboto;
  margin-right: 700px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  @include desktop {
    margin-right: 400px;
  }

  @include phone {
    display: none;
  }
}

.withdraw {
  @include withdraw;
  @include fold {
    font-size: 14px;
    line-height: 19px;
  }
}



.wrap {
  width: 100%;
  padding: 83px 330px 140px 330px;

  @include big-desktop {
    align-self: center;
    width: 1600px;
    padding: 6% 22% 9.8% 22%;
  }

  @include big {
    padding: 4% 0% 7% 3%;
  }

  @include desktop {
    padding: 5% 22% 9.8% 22%;
  }

  @include phone {
    padding: 10% 5% 16% 5%;
  }

  @include landscape-up {
    padding: 18% 13% 12% 13%;
  }
}

.main {
  @include start;
  justify-content: center;
  width: 100%;


  @include big-desktop {
    @include start;
    justify-content: center;
  }

  @include desktop {
    @include column;
    justify-content: center;
  }

  @include landscape-up {
    @include start;
    justify-content: center;

  }

  @include phone {
    @include start;
    justify-content: center;
    width: 100%;
  }

  
}

.main-descriotion {
  @include column;

  @include phone {
    margin-top: 30px;
  }
}

.description-title {
  @include text;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;

  @include phone {
    margin-top: 80px;
  }

  @include landscape-up {
    margin-top: 30px;
  }
}

.description-text {
  @include text;
  margin-top: 24px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.72);
}

.card-active {
  @include column;
  @include landscape-up {
    margin-top: 31px;
  }
}

.active-description {
  @include text;
  margin-top: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

.active-amount {
  @include text;
  width: 109px;
  margin-top: 16px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.94);

}

.main-img {
  @include row;
  margin-top: 30px;

  @include phone {
    display: none;
  }
}

.img-card {
  height: 88px;
  width: 210px;
  border: none; 
  border-radius: 8px;
  margin-right: 16px;
  box-sizing: content-box;
}

.card {
  box-sizing: content-box;
  width: 100%;
}

.card:hover { 
  box-sizing: content-box;
  width: 210px;
  height: 88px;
  margin-left: -2px;
  margin-top: -2px;
}

.img-card:hover {
  height: 88px;
  width: 210px;
  border: 2px solid #1A76C8;
  box-sizing: border-box;
  border-radius: 9px;
}

.checkbox-datas {
  display: none;

  @include phone {
    @include column;
    margin-top: 60px;
  }

  @include landscape-up {
    @include column;
    margin-top: 90px;
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.72);
}

.img-icon {
  width: 32px;
  height: 32px;
  margin: 0px 12px 0px 18px;
  border-radius: 50%;
}

.img-icon-card  {
  width: 32px;
  height: 22px;
  margin: 0px 12px 0px 18px;
}

.check {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.72);
}


.main-card {
  @include column;
  margin-top: 46px;

  @include phone {
    margin-top: 20px;
  }

  @include landscape-up {
    margin-top: 10px;
  }

  @include portrait-up {
    margin-top: 0px;
  }
}

.main-card-field {
  width: 350px;
  padding: 10px 0px 10px 12px;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  box-sizing: border-box;

  @include portrait-up {
    width: 332px;
  }

  @include galaxy-up {
    width: 290px;
  }

  @include galaxy {
    width: 320px;
  }

  @include fold {
    width: 250px;
  }
}

.main-card-form {
  @include row;
  margin-top: 8px;
  
  @include phone {
    margin-top: 15px;
  }
}

.main-card-form-data {
  @include row;
  margin-right: 5px;
}

.card-form-data {
  @include text;
  width: 55px;
  margin-right: 8px;
  padding: 9px;
  text-align: center;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);

  @include portrait-up {
    display: none;
  }
}

.validity {
  display: none;

  @include portrait-up {
    display: block;
    width: 198px;
    height: 38px;
  }

  @include galaxy-up {
    width: 175px;
  }

  @include galaxy {
    width: 200px;
  }

  @include fold {
    width: 140px;
  }
}

.card-form-slash {
  @include text;
  width: 5.5px;
  height: 14px;
  margin-right: 8px;
  font-size: 20px;
  line-height: 41px;
  color: #C0C0BF;

  @include portrait-up {
    display: none
  }

}

.main-card-form-cvc {
  @include text;
  @include row;
  width: 90px;
  margin-right: 8px;
  padding: 9px;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);

  @include portrait-up {
    margin: 0;
    width: 120px;
    height: 38px;
  }

  @include galaxy-up {
    width: 100px;
  }

  @include galaxy {
    width: 110px;
  }

  @include fold {
    width: 95px;
  }
}

.card-form-data-cvc {
  width: 100%;
  margin-right: 3px;
  text-align: center;
  border: none;
  background: #F9F9F9;
}

.main-phone, .main-qiwi{
  @include column;
  margin-top: 46px;

  @include phone {
    @include column;
    margin-top: 80px;
  }

  @include portrait-up {
    margin-top: 15px;
  }
}

.main-phone-title {
  @include text;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

.main-phone-field {
  @include text;
  width: 580px;
  margin-top: 8px;
  padding: 14px 16px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.48);

  @include portrait-up {
    width: 332px;
  }

  @include galaxy-up {
    width: 290px;
  }

  @include galaxy {
    width: 320px;
  } 
  
  @include fold {
    padding: 14px 13px;
    width: 250px;
  }
}

.main-payment {
  @include column;
}

.main-payment-text {
  @include text;
  margin-top: 16px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.48);
}

.main-payment-block {
  @include row;
  margin-top: 48px;

  @include phone {
    @include column;
    margin: 70px 0 130px 0;
  }

  @include landscape-up { 
    @include column;
    margin: 90px 0 130px 0;
  }  

  @include portrait-up {
    margin: 30px 0 60px 0;
  }

  @include fold {
    margin: 30px 0 30px 0;
  }
}

.payment-block-button {
  padding: 16px 37px;
  background: #1A76C8;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;

  @include phone {
    width: 360px;
  }

  @include portrait-up {
    width: 332px;
  }

  @include galaxy-up {
    width: 290px;
  }

  @include galaxy {
    width: 100%;
  }

  @include fold {
    width: 100%;
  }
}

.payment-block-text {
  margin-left: 24px;
  align-self: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.32);

  @include phone {
    margin: 12px 0;
    align-self: flex-start;
    text-align: center;
  }

  @include portrait-up {
    align-self: center;
  }
}

.text-link {
  cursor: pointer;
  text-decoration: underline;
  color:#1A76C8;

  @include phone {
    text-align: center;
  }
}

input {
  outline: none;
}

.main-table {
  @include start;
  margin-top: 55px;
  width: 780px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 8px;

  @include phone {
    display: none;
  }
}

.table-row  {
  @include row;
  width: 100%;
}

.table-row-column-head {
  @include text;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
}

.table-row-column {
  @include text;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}



.status {  
  @include text;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1A76C8;
}

.status-refusal {
  @include text;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FF4034;
} 

.last {
  border-radius: 0px 0px 7px 7px;
  margin: 0.5px 0.5px;
  background: #E0E0E0;

  @include big-desktop {
    margin: 0.5px -0.5px;
  }

  @include big {
    margin: 0.5px 0.5px;
  }
}

.header {
  border-radius: 7px 7px 0px 0px;
  margin: -0.5px 0.5px;
  background: #E0E0E0;

  @include big-desktop {
    margin: 0.5px -0.5px;
  }

  @include big {
    margin: 0.5px 0.5px;
  }
}

.white {
  background: #FFFFFF;
}

.grey {
  background: #F2F2F2;
}

.first {
  padding: 14px 81px 13px 24px;
}

.second {
  padding: 14px 81px 0px 10px;
}

.second-cash {
  padding: 14px 85px 0px 0px;
}

.third {
  padding: 14px 186px 0px 0px;
}

.fourth {
  padding: 14px 81px 0px 0px;
}

.fourth-status {
  padding: 14px 81px 0px 83px;
}

.footer {
  
  @include footer;
  @include big-desktop {
    width: 100%;
  }
}

.footer-containers {
  @include footer-containers;
}

.container {
  @include container;
  @include mobile {

    width: 30%;
  }
}

.filling {
  @include filling;
  @include mobile {
    @include text;
    font-size: 12px;
    line-height: 14px;
  }

  @include fold {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }
}

.icons {
  @include icons;
}

.container-icon {
  @include container-icon;
  @include mobile {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

.icons-logo {
  @include mobile {
    width: 13px;
    height: 12px;
  }
}