@font-face {
  font-family: "Lato";
  src: url("../../fonts/latoregular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato';
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 1% 8.5%;
  background: #1A76C8;
}

@media (max-width: 769px) {
  .head {
    padding: 3%;
  }
}

@media (min-width: 1720px) {
  .head {
    width: 100%;
  }
}

.big-desktop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1720px) {
  .big-desktop {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 1600px;
  }
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 290px) {
  .logo {
    font-size: 20px;
    line-height: 29px;
  }
}

.withdraw {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 290px) {
  .withdraw {
    font-size: 14px;
    line-height: 19px;
  }
}

.wrap {
  width: 100%;
  padding: 3% 13%;
}

@media (min-width: 1720px) {
  .wrap {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 1600px;
    padding: 3% 5%;
  }
}

@media (max-width: 1300px) {
  .wrap {
    padding: 3% 5%;
  }
}

@media (max-width: 1030px) {
  .wrap {
    padding: 3% 5%;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1720px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1300px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 900px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 769px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-small-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-small-block-btn {
  text-align: center;
  width: 280px;
  height: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border: none;
  cursor: pointer;
  background: #1A76C8;
  border-radius: 8px;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .main-small-block-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    border: 1px solid #1A76C8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #1A76C8;
  }
}

@media (max-width: 769px) {
  .main-small-block-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    border: 1px solid #1A76C8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #1A76C8;
  }
}

@media (max-width: 290px) {
  .main-small-block-btn {
    height: 35px;
    font-size: 14px;
    line-height: 29px;
  }
}

.main-small-block-btn:hover {
  border: 1px solid #1A76C8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #1A76C8;
}

@media (max-width: 900px) {
  .main-small-block-btn:hover {
    border: none;
    cursor: pointer;
    background: #1A76C8;
    border-radius: 8px;
    color: #FFFFFF;
  }
}

@media (max-width: 769px) {
  .main-small-block-btn:hover {
    border: none;
    cursor: pointer;
    background: #1A76C8;
    border-radius: 8px;
    color: #FFFFFF;
  }
}

.main-small-block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px 0;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 900px) {
  #list {
    display: none;
  }
}

@media (max-width: 769px) {
  #list {
    display: none;
  }
}

.main-small-block-left-card, .small-block-left-card {
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 8px;
}

@media (max-width: 290px) {
  .main-small-block-left-card, .small-block-left-card {
    height: 55px;
  }
}

.small-block-left-card {
  background: transparent;
}

.main-small-block-left-card:hover {
  background: #E4F1FD;
  border-radius: 8px;
}

.left-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-card:hover {
  background: #E4F1FD;
  border-radius: 8px;
  height: 100%;
}

.left-card-img {
  width: 48px;
  height: 48px;
  margin: 0 12px 0 16px;
}

@media (max-width: 290px) {
  .left-card-img {
    width: 35px;
    height: 35px;
  }
}

.left-card-icon {
  width: 0;
  height: 0;
}

@media (max-width: 900px) {
  .left-card-icon {
    width: 11px;
    height: 8px;
    margin-right: 4%;
  }
}

@media (max-width: 769px) {
  .left-card-icon {
    width: 11px;
    height: 8px;
    margin-right: 4%;
  }
}

.left-card-name {
  width: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 290px) {
  .left-card-name {
    font-size: 14px;
    line-height: 19px;
  }
}

.main-big-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 48px;
}

@media (max-width: 1300px) {
  .main-big-block {
    margin-left: 20px;
  }
}

@media (min-width: 900px) {
  .main-big-block {
    margin: 0 50px;
  }
}

@media (max-width: 900px) {
  .main-big-block {
    margin: 26px 0 0 0;
  }
}

@media (max-width: 769px) {
  .main-big-block {
    margin: 26px 0 0 0;
  }
}

.main-big-block-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .main-big-block-head {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .main-big-block-head {
    width: 100%;
  }
}

.main-big-block-head-img {
  width: 64px;
  height: 64px;
}

@media (max-width: 769px) {
  .main-big-block-head-img {
    width: 48px;
    height: 48px;
  }
}

.main-big-block-head-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

@media (max-width: 900px) {
  .main-big-block-head-content {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .main-big-block-head-content {
    width: 100%;
  }
}

.head-content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .head-content-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 769px) {
  .head-content-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.head-content-main-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  .head-content-main-title {
    width: 160px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 769px) {
  .head-content-main-title {
    width: 160px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 360px) {
  .head-content-main-title {
    width: 121px;
  }
}

@media (max-width: 290px) {
  .head-content-main-title {
    font-size: 15px;
    line-height: 22px;
    width: 110px;
  }
}

.head-content-main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98px;
  height: 22px;
  margin-left: 24px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #1A76C8;
  background: #E4F1FD;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .head-content-main-btn {
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  .head-content-main-btn {
    margin-left: 0;
  }
}

@media (max-width: 290px) {
  .head-content-main-btn {
    margin-left: 0;
    width: 80px;
    font-size: 10px;
    line-height: 14px;
  }
}

.head-content-text {
  margin-top: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.48);
}

@media (max-width: 290px) {
  .head-content-text {
    font-size: 11px;
    line-height: 13px;
  }
}

.main-big-block-head-additionally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 18px;
}

@media (max-width: 900px) {
  .main-big-block-head-additionally {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 769px) {
  .main-big-block-head-additionally {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.block-head-additionally-text {
  width: 140px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  .block-head-additionally-text {
    width: 207px;
    margin-top: 19px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 769px) {
  .block-head-additionally-text {
    width: 207px;
    margin-top: 19px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 290px) {
  .block-head-additionally-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.block-head-additionally-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 279px;
  margin-left: 24px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

@media (max-width: 900px) {
  .block-head-additionally-container {
    width: 279px;
    margin: 11px 0;
  }
}

@media (max-width: 769px) {
  .block-head-additionally-container {
    width: 279px;
    margin: 11px 0;
  }
}

@media (max-width: 290px) {
  .block-head-additionally-container {
    width: 245px;
  }
}

.block-head-additionally-container-text {
  padding-left: 21px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  .block-head-additionally-container-text {
    padding: 19px 21px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 769px) {
  .block-head-additionally-container-text {
    padding: 19px 21px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 290px) {
  .block-head-additionally-container-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.block-head-additionally-container-btn {
  margin-right: 21px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.main-big-block-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 1030px) {
  .main-big-block-basic {
    height: 944px;
  }
}

@media (max-width: 900px) {
  .main-big-block-basic {
    height: 770px;
    width: 100%;
  }
}

@media (max-width: 769px) {
  .main-big-block-basic {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main-big-block-basic {
    height: 100%;
  }
}

@media (max-width: 360px) {
  .main-big-block-basic {
    height: 100%;
  }
}

.main-big-block-basic-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  .main-big-block-basic-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 769px) {
  .main-big-block-basic-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 290px) {
  .main-big-block-basic-title {
    font-size: 16px;
    line-height: 19px;
  }
}

.main-big-block-basic-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .main-big-block-basic-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 769px) {
  .main-big-block-basic-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.block-basic-buttons-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 26px 0;
  padding: 13px 16px;
  width: 240px;
  height: 64px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  border: 1px solid #1A76C8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  color: #1A76C8;
}

@media (max-width: 900px) {
  .block-basic-buttons-btn {
    font-size: 14px;
    line-height: 17px;
    width: 160px;
    padding: 0;
    margin: 31px 3px;
  }
}

@media (max-width: 769px) {
  .block-basic-buttons-btn {
    font-size: 14px;
    line-height: 17px;
    width: 160px;
    padding: 0;
    margin: 31px 3px;
  }
}

@media (max-width: 600px) {
  .block-basic-buttons-btn {
    width: 200px;
    height: 50px;
    padding: 5px 7px;
  }
}

@media (max-width: 360px) {
  .block-basic-buttons-btn {
    width: 140px;
    height: 60px;
    padding: 5px 7px;
  }
}

@media (max-width: 290px) {
  .block-basic-buttons-btn {
    font-size: 11px;
    line-height: 15px;
  }
}

.right {
  margin-left: 20px;
}

.main-big-block-basic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .main-big-block-basic-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 769px) {
  .main-big-block-basic-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-big-block-basic-list-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 288px;
}

@media (max-width: 360px) {
  .main-big-block-basic-list-containers {
    width: 238px;
  }
}

@media (max-width: 290px) {
  .main-big-block-basic-list-containers {
    width: 260px;
  }
}

.list-containers-text {
  margin: 16px 21px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  .list-containers-text {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 769px) {
  .list-containers-text {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 290px) {
  .list-containers-text {
    font-size: 13px;
    line-height: 17px;
  }
}

.list-containers-checkbox {
  cursor: pointer;
}

.list-containers-block:hover {
  background-color: #FDFDFF;
}

.list-text {
  margin: 16px 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 1030px) {
  .list-text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 900px) {
  .list-text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 769px) {
  .list-text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 290px) {
  .list-text {
    line-height: 19px;
  }
}

.list-text-checkbox {
  cursor: pointer;
}

.list-checkbox-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-checkbox-active-desciption {
  padding: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

.long {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1030px) {
  .long {
    width: 141px;
  }
}

.list-checkbox-active-name {
  width: 550px;
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #E0E0E0;
  background-color: #FDFDFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 1030px) {
  .list-checkbox-active-name {
    width: 327px;
    padding: 10px;
  }
}

@media (max-width: 769px) {
  .list-checkbox-active-name {
    width: 350px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .list-checkbox-active-name {
    width: 303px;
  }
}

@media (max-width: 360px) {
  .list-checkbox-active-name {
    width: 200px;
    padding: 10px;
  }
}

.list-checkbox-active-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 360px) {
  .list-checkbox-active-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list-checkbox-active-container-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 20px 20px 0;
}

.list-checkbox-active-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 255px;
  padding: 10px 10px 10px 20px;
  margin-left: 20px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

@media (max-width: 1300px) {
  .list-checkbox-active-amount {
    width: 243px;
  }
}

@media (max-width: 1030px) {
  .list-checkbox-active-amount {
    width: 144px;
  }
}

@media (max-width: 600px) {
  .list-checkbox-active-amount {
    width: 129px;
  }
}

.list-checkbox-active-amount-money {
  width: 100%;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
  background-color: #FDFDFF;
}

.list-checkbox-active-amount-money:focus {
  outline: none;
}

.list-checkbox-active-amount-label {
  height: 15px;
  width: 10px;
  margin: 2px 5px;
}

.main-big-block-basic-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 824px;
  margin-top: 16px;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 13px;
  background: #FDFDFF;
}

@media (max-width: 1300px) {
  .main-big-block-basic-chart {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 1030px) {
  .main-big-block-basic-chart {
    width: 100%;
    margin: 50px 0;
  }
}

@media (max-width: 900px) {
  .main-big-block-basic-chart {
    margin: 50px 0;
    width: 100%;
  }
}

@media (max-width: 769px) {
  .main-big-block-basic-chart {
    margin: 50px 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main-big-block-basic-chart {
    margin: 30px 0 30px 0;
  }
}

.block-basic-chart-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 24px;
}

@media (max-width: 769px) {
  .block-basic-chart-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 600px) {
  .block-basic-chart-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.basic-chart-information-title {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  .basic-chart-information-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 769px) {
  .basic-chart-information-title {
    text-align: start;
  }
}

@media (max-width: 290px) {
  .basic-chart-information-title {
    font-size: 18px;
    line-height: 20px;
  }
}

.basic-chart-information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .basic-chart-information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
  }
}

@media (max-width: 769px) {
  .basic-chart-information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 600px) {
  .basic-chart-information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.basic-chart-information-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 25px 0 0;
}

@media (max-width: 1300px) {
  .basic-chart-information-value {
    text-align: center;
    margin: 0 15px;
  }
}

@media (max-width: 900px) {
  .basic-chart-information-value {
    margin: 0;
  }
}

@media (max-width: 769px) {
  .basic-chart-information-value {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .basic-chart-information-value {
    margin: 38px 25px 0 0;
  }
}

@media (max-width: 290px) {
  .basic-chart-information-value {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.basic-chart-information-value-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

@media (max-width: 290px) {
  .basic-chart-information-value-text {
    font-size: 10px;
    line-height: 14px;
  }
}

.basic-chart-information-value-accoun {
  margin-top: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 290px) {
  .basic-chart-information-value-accoun {
    font-size: 16px;
    line-height: 19px;
  }
}

.basic-chart-information-list {
  margin: 0 24px;
  overflow: hidden;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 13px;
}

@media (max-width: 1300px) {
  .basic-chart-information-list {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .basic-chart-information-list {
    display: none;
  }
}

@media (max-width: 769px) {
  .basic-chart-information-list {
    display: none;
  }
}

@media (max-width: 1030px) {
  .basic-chart-information-list {
    display: none;
  }
}

.basic-chart-information-date {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: none;
}

.basic-chart-information-date:hover {
  cursor: pointer;
}

.basic-chart-information-dates {
  width: 201px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 13px;
  background: #FDFDFF;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.basic-chart-information-date-value {
  width: 169px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 900px) {
  #chart_div svg {
    display: none;
  }
}

@media (max-width: 769px) {
  #chart_div svg {
    display: none;
  }
}

/* AXES */
/* ticks */
.axis line {
  stroke: #c9c8c8;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #c9c8c8;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #777777;
  font-family: Lato;
  font-size: 120%;
}

/*g.axis.axis-y > g.tick.unactive line {
  stroke-dasharray: 4;
}*/
g.axis.axis-y > g.tick.unactive text {
  display: none;
}

/* LINE CHART */
path {
  stroke-width: 4;
  fill: none;
  stroke: #1A76C8;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #0C3152;
}

@media (min-width: 1720px) {
  .footer {
    width: 100%;
  }
}

.footer-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 769px) {
  .container {
    width: 30%;
  }
}

.filling {
  padding: 2% 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  color: #FFFFFF;
}

@media (max-width: 769px) {
  .filling {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 290px) {
  .filling {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.container-icon {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background: #1A76C8;
}

@media (max-width: 769px) {
  .container-icon {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

@media (max-width: 769px) {
  .icons-logo {
    width: 13px;
    height: 12px;
  }
}
/*# sourceMappingURL=style.css.map */