@font-face {
  font-family: "Lato";
  src: url("../../Main/fonts/latoregular.woff") format("woff");
}

html {
  overflow-y: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-color: #000000;
}

body {
  width: 100vw;
  font-family: 'Lato';
  overflow-y: scroll;
  height: 100vh;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1% 8.5%;
  background: #1A76C8;
}

@media (max-width: 768px) {
  .head {
    padding: 3%;
  }
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 1920px) {
  .logo {
    font-size: 1.7vw;
    line-height: 2.5vw;
  }
}

.toPlug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 24px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #1A76C8;
}

@media (max-width: 768px) {
  .toPlug {
    padding: 11px 24px;
    width: 50%;
  }
}

@media (max-width: 320px) {
  .toPlug {
    padding: 10px 20px;
    width: 40%;
    font-size: 15px;
  }
}

@media (min-width: 1920px) {
  .toPlug {
    width: 7vw;
    height: 5vh;
    padding: 0;
    font-size: 1vw;
    line-height: 1.5vw;
  }
}

.wrap {
  width: 100%;
  padding: 3% 13%;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.donates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 39%;
}

@media (max-width: 768px) {
  .donates {
    width: 100%;
  }
}

@media (max-width: 1030px) {
  .donates {
    width: 80%;
  }
}

@media (max-width: 1300px) {
  .donates {
    width: 90%;
  }
}

@media (min-width: 1920px) {
  .donates {
    width: 50%;
  }
}

.home-title {
  font-style: normal;
  font-weight: 2000;
  font-size: 54px;
  line-height: 77px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 768px) {
  .home-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 320px) {
  .home-title {
    font-size: 34px;
    line-height: 43px;
  }
}

@media (min-width: 1920px) {
  .home-title {
    font-size: 2.9vw;
    line-height: 4vw;
  }
}

.home-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6% 0;
  padding: 10px 15px;
  background: #1A76C8;
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
  color: #FFFFFF;
  width: 42%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-btn {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 16px;
    width: 42%;
  }
}

@media (max-width: 320px) {
  .home-btn {
    font-size: 15px;
    width: 45%;
  }
}

@media (max-width: 1300px) {
  .home-btn {
    font-size: 20px;
    width: 25%;
  }
}

@media (max-width: 1030px) {
  .home-btn {
    width: 45%;
    margin: 3% 0 12%;
  }
}

@media (min-width: 1920px) {
  .home-btn {
    width: 25%;
    height: 8vh;
    font-size: 1vw;
    line-height: 0.5vw;
  }
}

.home-img {
  height: 350px;
  width: 45%;
  background: url("../../Main/img/cards/telegram.png") center no-repeat;
  background-size: 100%;
}

@media (max-width: 768px) {
  .home-img {
    width: 0%;
  }
}

@media (max-width: 1030px) {
  .home-img {
    width: 0%;
  }
}

@media (max-width: 1300px) {
  .home-img {
    width: 0;
  }
}

@media (min-width: 1920px) {
  .home-img {
    height: 42vh;
    width: 45%;
  }
}

.commission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4%;
}

.commission-title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 53px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 768px) {
  .commission-title {
    margin: 9% 0 2%;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: 1920px) {
  .commission-title {
    font-size: 2vw;
    line-height: 1vw;
    color: rgba(0, 0, 0, 0.94);
  }
}

.comission-img {
  margin: 3% 0;
}

@media (max-width: 768px) {
  .comission-img {
    width: 90%;
  }
}

@media (min-width: 1920px) {
  .comission-img {
    width: 90%;
  }
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 8% 0;
}

@media (max-width: 768px) {
  .statistics {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1030px) {
  .statistics {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1300px) {
  .statistics {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.statistics-title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 53px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 768px) {
  .statistics-title {
    margin: 9% 0 3%;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: 1920px) {
  .statistics-title {
    font-size: 2vw;
    line-height: 1vw;
    color: rgba(0, 0, 0, 0.94);
  }
}

.statistics-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

@media (max-width: 768px) {
  .statistics-dates {
    width: 100%;
  }
}

@media (max-width: 1030px) {
  .statistics-dates {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .statistics-dates {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .statistics-dates {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .statistics-dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  margin: 10% 0;
}

@media (max-width: 768px) {
  .date {
    width: 30%;
  }
}

@media (max-width: 320px) {
  .date {
    width: 55%;
  }
}

@media (max-width: 1030px) {
  .date {
    width: 30%;
  }
}

@media (max-width: 1300px) {
  .date {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .date {
    width: 30%;
  }
}

.statistics-value {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 768px) {
  .statistics-value {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: 1920px) {
  .statistics-value {
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 3vw;
  }
}

.statistics-description {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.72);
}

@media (max-width: 768px) {
  .statistics-description {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  .statistics-description {
    font-size: 1vw;
    line-height: 1.5vw;
  }
}

.canals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.canals-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 4% 0;
}

@media (max-width: 768px) {
  .canals-groups {
    width: 100%;
    overflow-x: scroll;
    background-color: transparent;
  }
}

@media (max-width: 1030px) {
  .canals-groups {
    width: 100%;
    overflow-x: scroll;
    background-color: transparent;
  }
}

@media (max-width: 900px) {
  .canals-groups {
    width: 100%;
    overflow-x: scroll;
    background-color: transparent;
  }
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
}

@media (max-width: 768px) {
  .group {
    margin: 0 5%;
  }
}

@media (max-width: 1030px) {
  .group {
    margin: 0 3%;
  }
}

@media (max-width: 900px) {
  .group {
    margin: 0 5%;
  }
}

@media (min-width: 1920px) {
  .group {
    margin: 0;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  margin: 5% 0;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

@media (max-width: 768px) {
  .card {
    width: 250px;
    margin: 5% 0;
  }
}

@media (max-width: 1030px) {
  .card {
    width: 250px;
    margin: 3% 0;
  }
}

@media (max-width: 900px) {
  .card {
    width: 250px;
    margin: 5% 0%;
  }
}

@media (min-width: 1920px) {
  .card {
    width: 15vw;
    height: 10.7vh;
  }
}

.card-name {
  padding: 3% 2%;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

@media (max-width: 768px) {
  .card-name {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1920px) {
  .card-name {
    font-size: 1vw;
    line-height: 1.3vw;
  }
}

.card-img {
  margin: 4%;
  height: 60px;
  width: 60px;
}

@media (min-width: 1920px) {
  .card-img {
    width: 4vw;
    height: 4vw;
  }
}

.canals-title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 53px;
  color: rgba(0, 0, 0, 0.94);
}

@media (max-width: 768px) {
  .canals-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: 1920px) {
  .canals-title {
    font-size: 2vw;
    line-height: 1vw;
    color: rgba(0, 0, 0, 0.94);
  }
}

.footer {
  background: #0C3152;
}

.footer-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    width: 30%;
  }
}

.filling {
  padding: 2% 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .filling {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (min-width: 1920px) {
  .filling {
    font-size: 1.3vw;
    line-height: 2vw;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.container-icon {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background: #1A76C8;
}

@media (max-width: 768px) {
  .container-icon {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

@media (min-width: 1920px) {
  .container-icon {
    height: 4vw;
    width: 4vw;
    border-radius: 2vw;
    margin-right: 2vw;
  }
}

@media (max-width: 768px) {
  .icons-logo {
    width: 13px;
    height: 12px;
  }
}

@media (min-width: 1920px) {
  .icons-logo {
    width: 2vw;
    height: 2vw;
  }
}

@media (min-width: 1920px) {
  .vk {
    width: 2vw;
    height: 1.3vw;
  }
}
/*# sourceMappingURL=style.css.map */