@import '../config/mixins';
@import '../config/variables';

@font-face {
  font-family: "Lato";
  src: url("../../../fonts/latoregular.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}


body {
  @include body;
}

.head {
  @include head;

  @include phone {
    padding: 3% 7.8% 3% 8.5%;
  }

  @include mobile {
    padding: 3%;
  }

  @include big-desktop {
    width: 100%;
  }
}

.big-desktop {
  @include head-txt;

  @include big-desktop {
    align-self: center;
    width: 1600px;
  }
}

.logo {
  @include logo;

  @include fold {
    font-size: 20px;
    line-height: 29px;
  }
}

.withdraw {
  @include withdraw;
  @include fold {
    font-size: 14px;
    line-height: 19px;
  }
}



.wrap {
  width: 100%;
  padding: 134px 330px 203px 330px;

  @include big-desktop {
    align-self: center;
    width: 1600px;
    padding: 6% 22% 9.8% 22%;
  }

  @include big {
    padding: 0;
  }

  @include desktop {
    padding: 5% 22% 9.8% 22%;
  }

  @include phone {
    padding: 27% 10% 38% 10%;
  }

  @include mobile {
    padding: 8% 2% 15% 2%;

  }

  @include portrait-up {
    padding: 26% 5% 49% 7%;
  }

  @include galaxy {
    padding: 19% 4% 25% 4%;
  }
}

.main {
  @include center;
  @include column;
  padding: 54px 100px;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 24px;

  @include big {
    border: none;
  }

  @include big-desktop {
    @include center;
    @include column;
    padding: 54px 60px;
  }

  @include desktop {
    @include column;
    justify-content: center;
    padding: 54px 60px;
  }

  @include phone {
    padding: 54px 60px;
  }

  @include landscape-up {
    @include center;
    @include column;
    border: none;
    padding: 3% 0 4.5% 0;

  }

  @include mobile {
    @include center;
    @include column;
    padding: 54px 100px;
    border: none;
  }

  @include portrait-up {
    padding: 0;
  }

  @include galaxy {
    padding: 0;
  }

  
}

.main-title {
  @include title;
  line-height: 53px;
  text-align: center;
  color: rgba(0, 0, 0, 0.94);


  @include big-desktop {
    @include title;
    line-height: 46px;
    color: #000000;
  }

  @include phone {
    @include title;
    line-height: 46px;
    color: #000000;
  }

   @include landscape-up {
    @include title;
    font-size: 35px;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.94);
  }

  @include portrait-up {
    @include title;
    font-size: 24px;
    line-height: 29px;
  }

  @include galaxy {
    @include title;
    font-size: 24px;
    line-height: 29px;
  }

  @include fold {
    @include title;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.94);
  }
}

ol{
  counter-reset: myCounter;
}

li{
  list-style: none;
}

li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  @include center;
  @include title;
  color: white;
  background: #2980B9;
  text-align: center;
  margin: 0px 32px 0px 0px;
  line-height: 40px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;

  @include portrait-up {
    margin: 0px;
  }

  @include galaxy {
    margin: 0px;
  }
}

.li-strong:before {
  width: 60px;
  height: 50px;

  @include phone {
    width: 50px;
    height: 50px;
  }

  @include mobile {
    width: 50px;
    height: 50px;
  }
}

.main-list {
  width: 530px;
  margin-top: 50px;

  @include phone {
    @include column;
    width: 100%;
    align-items: center;
  }

  @include mobile {
    @include column;
    width: 100%;
    align-items: center;
  }
}

.main-list-element {
  @include row;
  align-items: center;
  margin-bottom: 50px;
}

.main-list-element-text {
  @include text;
  display: flex;
  text-align: start;
  font-size: 18px;
  line-height: 22px;
  color: #000000;

  @include phone {
    @include text;
    width: 440px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }

  @include landscape-up {
    @include text;
    width: 376px;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
  }

  @include portrait-up {
    @include text;
    width: 247px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 30px;
  }

  @include galaxy {
    @include text;
    width: 247px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 30px;
  }

  @include fold {
    @include text;
    width: 207px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 30px;
  }
}

.trasposition-text {
  padding: 0;

  @include portrait-up {
    width: 211px;
  }

  @include galaxy {
    width: 211px;
  }

  @include fold {
    @include text;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-left: 0px;
  }
  
}

.strong {
  @include text;
  width: 100%;
  display: inline-block;
  text-align: start;
  align-self: center;
  font-size: 18px;
  line-height: 22px;
  color: #000000;

  @include phone {
    @include text;
    width: 440px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }

  @include landscape-up {
    @include text;
    width: 376px;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
  }

  @include portrait-up {
    @include text;
    width: 247px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 30px;
  
  }

  @include galaxy {
    @include field;
    width: 247px;
    color: #000000;
    padding-left: 30px;
  }

  @include fold {
    @include text;
    width: 207px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-left: 30px;
  }
}

.main-list-element-text-strong {
  padding: 0 4px;
}

.trasposition {
  @include column;
  @include portrait-up {
    padding-left: 30px;
  }

  @include galaxy {
    padding-left: 30px;
  }

  @include fold {
    width: 207px;
    padding-left: 30px;
  
  }
}

.main-list-element-container {
  @include row;
  justify-content: space-between;
  width: 243px;
  margin-top: 8px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;

  @include landscape-up {
    width: 241px;
    margin: 11px 0;
  }

  @include mobile {
    width: 241px;
    margin: 11px 0;
  }

  @include portrait-up {
    width: 207px;
  }

  @include galaxy {
    width: 205px;
  }

  @include fold {
    width: 174px;;
  }
}

.main-list-element-container-text {
  @include text;
  padding: 13px 0 13px 21px ;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);

  @include landscape-up {
    padding: 19px 21px;
    font-size: 16px;
    line-height: 19px;
  }

  @include mobile {
    padding: 19px 21px;
    font-size: 16px;
    line-height: 19px;
  }

  @include fold {
    padding: 19px 10px;
    font-size: 14px;
    line-height: 16px;
  }
}

.main-list-element-container-btn {
  margin-right: 21px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.footer {
  
  @include footer;
  @include big-desktop {
    width: 100%;
  }
}

.footer-containers {
  @include footer-containers;
}

.container {
  @include container;
  @include mobile {

    width: 30%;
  }
}

.filling {
  @include filling;
  @include mobile {
    @include text;
    font-size: 12px;
    line-height: 14px;
  }

  @include fold {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }
}

.icons {
  @include icons;
}

.container-icon {
  @include container-icon;
  @include mobile {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

.icons-logo {
  @include mobile {
    width: 13px;
    height: 12px;
  }
}