@font-face {
  font-family: "Lato";
  src: url("../../fonts/latoregular.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato Helvetica;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 1% 7.8% 1% 8.5%;
  background: #1A76C8;
}

@media (max-width: 769px) {
  .head {
    padding: 3%;
  }
}

@media (min-width: 1720px) {
  .head {
    width: 100%;
  }
}

.big-desktop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1720px) {
  .big-desktop {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 1600px;
  }
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 290px) {
  .logo {
    font-size: 20px;
    line-height: 29px;
  }
}

.head-text {
  margin-right: 700px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 1300px) {
  .head-text {
    margin-right: 400px;
  }
}

@media (max-width: 1030px) {
  .head-text {
    display: none;
  }
}

.withdraw {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 290px) {
  .withdraw {
    font-size: 14px;
    line-height: 19px;
  }
}

.wrap {
  width: 100%;
  padding: 80px 330px 120px 330px;
}

@media (min-width: 1720px) {
  .wrap {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 1600px;
    padding: 6% 22% 9.8% 22%;
  }
}

@media (min-width: 2200px) {
  .wrap {
    padding: 4% 0% 7% 3%;
  }
}

@media (max-width: 1300px) {
  .wrap {
    padding: 5% 22% 9.8% 22%;
  }
}

@media (max-width: 1030px) {
  .wrap {
    padding: 3% 5%;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 1720px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1300px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 900px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1030px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.main-descriotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1030px) {
  .main-descriotion {
    margin-top: 30px;
  }
}

.description-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
}

@media (max-width: 1030px) {
  .description-title {
    margin-top: 80px;
  }
}

@media (max-width: 900px) {
  .description-title {
    margin-top: 30px;
  }
}

.description-text {
  margin-top: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.72);
}

.card-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active-description {
  margin-top: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
}

.active-amount {
  width: 109px;
  margin-top: 16px;
  padding-bottom: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.94);
}

.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

@media (max-width: 1030px) {
  .main-img {
    display: none;
  }
}

.img-card {
  height: 88px;
  width: 210px;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.card {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

.card:hover {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 210px;
  height: 88px;
  margin-left: -2px;
  margin-top: -2px;
}

.img-card:hover {
  height: 88px;
  width: 210px;
  border: 2px solid #1A76C8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
}

.checkbox-datas {
  display: none;
}

@media (max-width: 1030px) {
  .checkbox-datas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

@media (max-width: 900px) {
  .checkbox-datas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.72);
}

.img-icon {
  width: 32px;
  height: 32px;
  margin: 0px 12px 0px 18px;
  border-radius: 50%;
}

.img-icon-card {
  width: 32px;
  height: 22px;
  margin: 0px 12px 0px 18px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.72);
}

.main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 46px;
}

@media (max-width: 1030px) {
  .main-card {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .main-card {
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  .main-card {
    margin-top: 0px;
  }
}

.main-card-field {
  width: 350px;
  padding: 10px 0px 10px 12px;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 650px) {
  .main-card-field {
    width: 360px;
  }
}

@media (max-width: 380px) {
  .main-card-field {
    width: 336px;
  }
}

@media (max-width: 290px) {
  .main-card-field {
    width: 250px;
  }
}

.main-card-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8px;
}

@media (max-width: 1030px) {
  .main-card-form {
    margin-top: 15px;
  }
}

.main-card-form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
}

.card-form-data {
  width: 55px;
  margin-right: 8px;
  padding: 9px;
  text-align: center;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 650px) {
  .card-form-data {
    display: none;
  }
}

.validity {
  display: none;
}

@media (max-width: 650px) {
  .validity {
    display: block;
    width: 227px;
    height: 38px;
  }
}

@media (max-width: 380px) {
  .validity {
    width: 212px;
  }
}

@media (max-width: 290px) {
  .validity {
    width: 140px;
  }
}

.card-form-slash {
  width: 5.5px;
  height: 14px;
  margin-right: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 41px;
  color: #C0C0BF;
}

@media (max-width: 650px) {
  .card-form-slash {
    display: none;
  }
}

.main-card-form-cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90px;
  margin-right: 8px;
  padding: 9px;
  background: #F9F9F9;
  border: 2px solid #C0C0BF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 650px) {
  .main-card-form-cvc {
    margin: 0;
    width: 120px;
    height: 38px;
  }
}

@media (max-width: 380px) {
  .main-card-form-cvc {
    width: 110px;
  }
}

@media (max-width: 290px) {
  .main-card-form-cvc {
    width: 95px;
  }
}

.card-form-data-cvc {
  width: 100%;
  margin-right: 3px;
  text-align: center;
  border: none;
  background: #F9F9F9;
}

.main-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 46px;
}

@media (max-width: 1030px) {
  .main-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 80px;
  }
}

@media (max-width: 650px) {
  .main-phone {
    margin-top: 15px;
  }
}

.main-phone-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

.main-phone-field {
  width: 580px;
  margin-top: 8px;
  padding: 14px 16px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.48);
}

@media (max-width: 650px) {
  .main-phone-field {
    width: 360px;
  }
}

@media (max-width: 380px) {
  .main-phone-field {
    width: 336px;
  }
}

@media (max-width: 290px) {
  .main-phone-field {
    padding: 14px 13px;
    width: 250px;
  }
}

.main-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-payment-text {
  margin-top: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.48);
}

.main-payment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 48px;
}

@media (max-width: 1030px) {
  .main-payment-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 0 130px 0;
  }
}

@media (max-width: 900px) {
  .main-payment-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 130px;
  }
}

@media (max-width: 650px) {
  .main-payment-block {
    margin: 30px 0 60px 0;
  }
}

@media (max-width: 290px) {
  .main-payment-block {
    margin: 30px 0 30px 0;
  }
}

.payment-block-button {
  padding: 16px 37px;
  background: #1A76C8;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;
}

@media (max-width: 1030px) {
  .payment-block-button {
    width: 360px;
  }
}

@media (max-width: 380px) {
  .payment-block-button {
    width: 100%;
  }
}

@media (max-width: 290px) {
  .payment-block-button {
    width: 100%;
  }
}

.payment-block-text {
  margin-left: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.32);
}

@media (max-width: 1030px) {
  .payment-block-text {
    margin: 12px 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .payment-block-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.text-link {
  cursor: pointer;
  text-decoration: underline;
  color: #1A76C8;
}

@media (max-width: 1030px) {
  .text-link {
    text-align: center;
  }
}

input {
  outline: none;
}

.main-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 55px;
  width: 780px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 1030px) {
  .main-table {
    display: none;
  }
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.table-row-column-head {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);
}

.table-row-column {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.status {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1A76C8;
}

.status-refusal {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FF4034;
}

.last {
  border-radius: 0px 0px 7px 7px;
  margin: 0.5px 0.5px;
  background: #E0E0E0;
}

@media (min-width: 1720px) {
  .last {
    margin: 0.5px -0.5px;
  }
}

@media (min-width: 2200px) {
  .last {
    margin: 0.5px 0.5px;
  }
}

.header {
  border-radius: 7px 7px 0px 0px;
  margin: -0.5px 0.5px;
  background: #E0E0E0;
}

@media (min-width: 1720px) {
  .header {
    margin: 0.5px -0.5px;
  }
}

@media (min-width: 2200px) {
  .header {
    margin: 0.5px 0.5px;
  }
}

.white {
  background: #FFFFFF;
}

.grey {
  background: #F2F2F2;
}

.first {
  padding: 14px 81px 13px 24px;
}

.second {
  padding: 14px 81px 0px 10px;
}

.second-cash {
  padding: 14px 85px 0px 0px;
}

.third {
  padding: 14px 186px 0px 0px;
}

.fourth {
  padding: 14px 81px 0px 0px;
}

.fourth-status {
  padding: 14px 81px 0px 83px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #0C3152;
}

@media (min-width: 1720px) {
  .footer {
    width: 100%;
  }
}

.footer-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 769px) {
  .container {
    width: 30%;
  }
}

.filling {
  padding: 2% 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  color: #FFFFFF;
}

@media (max-width: 769px) {
  .filling {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 290px) {
  .filling {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.container-icon {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background: #1A76C8;
}

@media (max-width: 769px) {
  .container-icon {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

@media (max-width: 769px) {
  .icons-logo {
    width: 13px;
    height: 12px;
  }
}
/*# sourceMappingURL=style.css.map */