@import '../config/mixins';
@import '../config/variables';

@font-face {
  font-family: "Lato";
  src: url("../../fonts/latoregular.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}


body {
  @include body;
}

.head {
  @include head;
  @include mobile {
    padding: 3%;
  }

  @include big-desktop {
    width: 100%;
  }
}

.big-desktop {
  @include head-txt;

  @include big-desktop {
    align-self: center;
    width: 1600px;
  }
}

.logo {
  @include logo;

  @include fold {
    font-size: 20px;
    line-height: 29px;
  }
}

.withdraw {
  @include withdraw;
  @include fold {
    font-size: 14px;
    line-height: 19px;
  }
}



.wrap {
  width: 100%;
  padding: 3% 2% 3% 8.2%;

  @include big-desktop {
    align-self: center;
    width: 1600px;
    padding: 3% 5%;
  }

  @include desktop {
    padding: 3% 5%;
  }

  @include phone {
    padding: 3% 5%;
  }
}

.main {
  @include row;

  @include big-desktop {
    @include row;
    justify-content: center;
  }

  @include desktop {
    @include row;
    justify-content: center;
  }

  @include landscape-up {
    @include column;
  }

  @include mobile {
    @include column;
  }

}

.main-small-block {
  @include column;

  @include desktop {
    margin-right: 20px;
  }
}

.main-small-block-btn {
  @include roboto;
  text-align: center;
  width: 280px;
  height: 64px;
  font-size: 18px;
  line-height: 21px;
  border: none;
  cursor: pointer;
  background: #1A76C8;
  border-radius: 8px;
  color: #FFFFFF;

  @include phone {
    width: 265px;
  }

  @include landscape-up {
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    border: 1px solid #1A76C8;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#FFFFFF;
    color: #1A76C8;
  }

  @include mobile {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    border: 1px solid #1A76C8;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#FFFFFF;
    color: #1A76C8;
  }

  @include fold {
    height: 35px;
    font-size: 14px;
    line-height: 29px;
  }
}

.main-small-block-btn:hover {
  border: 1px solid #1A76C8;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#FFFFFF;
  color: #1A76C8;

  @include landscape-up {
    border: none;
    cursor: pointer;
    background: #1A76C8;
    border-radius: 8px;
    color: #FFFFFF;
  }

  @include mobile {
    border: none;
    cursor: pointer;
    background: #1A76C8;
    border-radius: 8px;
    color: #FFFFFF;
  }
}

.main-small-block-left {
  @include column;
  margin: 16px 0;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;

  @include phone {
    width: 290px;
  }

   @include galaxy {
    width: 283px;
  }

  @include fold {
    width: 255px;
  }
}

#list {
  @include landscape-up {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.main-small-block-left-card, .small-block-left-card {
  @include row;
  height: 87px;
  align-items: center;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 8px;

 

  @include fold {
    height: 55px;
  }
}

.small-block-left-card {
  background: transparent;
}

.main-small-block-left-card:hover {
  background: #E4F1FD;
  border-radius: 8px;
}

.left-card {
  @include row;
  align-items: center;
  justify-content: space-between;
}

.left-card:hover {
  background: #E4F1FD;
  border-radius: 8px;
  height: 100%;
}



.left-card-img {
  width: 48px;
  height: 48px;
  margin: 0 12px 0 16px;
  border-radius: 30px;

  @include fold {
    width: 35px;
    height: 35px;

  }
}

.left-card-icon {
  width: 0;
  height: 0;
  @include landscape-up {
    width: 11px;
    height: 8px;
    margin-right: 4%;
  }

  @include mobile {
    width: 11px;
    height: 8px;
    margin-right: 4%;
  }
}

.left-card-name {
  @include roboto;
  width: 176px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.94);

  @include fold {
    font-size: 14px;
    line-height: 19px;
  }
}

.main-big-block {
  @include column;
  align-items: flex-start;
  margin: 0 0 0 100px;

  @include desktop {
    margin-left: 20px;
  }

  @include landscape {
    margin: 0 0 0 50px;
  }

  @include landscape-up {
    margin: 26px 0 0 0;
  }

  @include mobile {
    margin: 26px 0 0 0;
  }

  
}

.main-big-block-head {
  @include row;

  @include landscape-up {
    width: 100%;
  }
  
  @include mobile {
    width: 100%;
  }
}

.main-big-block-head-img {
  width: 64px;
  height: 64px;
  border-radius: 40px;

  @include mobile {
    width: 48px;
    height: 48px;
  }
}

.main-big-block-head-content {
  @include column;
  margin-left: 16px;

  @include landscape-up {
    width: 100%;
  }
  
  @include mobile {
    width: 100%;
  }
}

.head-content-main {
  @include row;

  @include landscape-up {
    @include row;
    justify-content: space-between;
  }

  @include mobile {
    @include row;
    justify-content: space-between;
  }
}

.head-content-main-title {
  @include title;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);

  @include landscape-up {
    width:  160px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  @include mobile {
    width:  160px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  @include galaxy {
    width: 121px;
  }

  @include fold {
    font-size: 15px;
    line-height: 22px;
    width: 110px;
  }
}


.head-content-main-btn {
  @include center;
  @include text;
  width: 98px;
  height: 22px;
  margin-left: 24px;
  border: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  color: #1A76C8;
  background: #E4F1FD;
  border-radius: 8px;

  @include landscape-up {
    margin-left: 0;
  }

  @include mobile {
    margin-left: 0;
  }

  @include fold {
    margin-left: 0;
    width: 80px;
    font-size: 10px;
    line-height: 14px;
  }
}

.head-content-text {
  @include text;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.48);

  @include fold {
    font-size: 11px;
    line-height: 13px;
  }
}

.main-big-block-head-additionally {
  @include row;
  margin-top: 18px;

  @include landscape-up {
    @include column;
    width: 100%;
  }

  @include mobile {
    @include column;
    width: 100%;
  }
  
}

.block-head-additionally-text {
  @include text;
  width: 140px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);
   @include landscape-up {
    width: 207px;
    margin-top: 19px;
    font-size: 16px;
    line-height: 19px;
  }

  @include mobile {
    width: 207px;
    margin-top: 19px;
    font-size: 16px;
    line-height: 19px;
  }

  @include fold {
    font-size: 14px;
    line-height: 16px;
  }
}

.block-head-additionally-container {
  @include row;
  align-items: center;
  justify-content: space-between;
  width: 279px;
  margin-left: 24px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;
   @include landscape-up {
    width: 279px;
    margin: 11px 0;
  }

  @include mobile {
    width: 279px;
    margin: 11px 0;
  }

  @include fold {
    width: 245px;
  }
}

.block-head-additionally-container-text {
  @include text;
  padding-left: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);

  @include landscape-up {
    padding: 19px 21px;
    font-size: 16px;
    line-height: 19px;
  }

  @include mobile {
    padding: 19px 21px;
    font-size: 16px;
    line-height: 19px;
  }

  @include fold {
    font-size: 14px;
    line-height: 16px;
  }
}

.block-head-additionally-container-btn {
  margin-right: 21px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.main-big-block-active {
  @include row;
  align-items: center;
  @include phone {
    display: none;
  }
}

.main-big-block-active-container {
  @include column;
  margin: 20px 100px 0 0;
}

.main-big-block-active-container-description {
  @include text;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.main-big-block-active-container-value {
  @include text;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.main-big-block-active-btn {
  @include text;
  width: 140px;
  margin: 20px 0 0 0;
  padding: 4px 0;
  border: none;
  cursor: pointer;
  background: #E4F1FD;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #1A76C8;
}



.main-big-block-basic {
  @include column;
  margin-top: 50px;

  @include phone {
    height: 964px;
    width: 464px;
  } 

  @include landscape-up {
    height: 770px;
    width: 100%;
  }

  @include mobile {
    height: 100%;
    width: 100%;
  }

  @include portrait-up {
    height: 100%;
  }

  @include galaxy {
    height: 100%;
  }
}

.main-big-block-basic-title {
  @include text;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.94);

  @include landscape-up {
    font-size: 18px;
    line-height: 22px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 22px;
  }

  @include fold {
    font-size: 16px;
    line-height: 19px;
  }
}

.main-big-block-basic-buttons {
  @include row;

  @include landscape-up {
    @include row;
    justify-content: start;
  }

  @include mobile {
    @include row;
    justify-content: start;
  }
}

.block-basic-buttons-btn {
  @include center;
  @include field;
  margin: 26px 0;
  padding: 13px 16px;
  width: 240px;
  height: 64px;
  cursor: pointer;
  border: 1px solid #1A76C8;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  color: #1A76C8;

   @include landscape-up {
    font-size: 14px;
    line-height: 17px;
    width: 160px;
    padding: 0;
    margin: 31px 3px;
  }

  @include mobile {
    font-size: 14px;
    line-height: 17px;
    width: 160px;
    padding: 0;
    margin: 31px 3px;
  }
  @include portrait-up {
    width: 200px;
    height: 50px;
    padding: 5px 7px;
  }

  @include galaxy {
    width: 140px;
    height: 60px;
    padding: 5px 7px;

  }

  @include fold {
    font-size: 11px;
    line-height: 15px;
  }
}

.right {
  margin-left: 20px;
}

.main-big-block-basic-list {
  @include row;
  margin-bottom: 20px;

  @include landscape-up {
    @include row;
  }

  @include mobile {
    @include column;
  }
} 

.main-big-block-basic-list-containers {
  @include column;
  width: 288px;

  @include galaxy {
    width: 238px;
  }

  @include fold {
    width: 260px;
  }
}

.list-containers-block {
  display: flex;
  margin: 10px;

  @include mobile {
    display: flex;
    align-items: center;
  }
}



.list-containers-text {
  @include field;
  width: 80%;
  color: rgba(0, 0, 0, 0.94);

  @include landscape-up {
    font-size: 14px;
    line-height: 17px;
  }

  @include mobile {
    font-size: 14px;
    line-height: 17px;
  }

  @include fold {
    font-size: 13px;
    line-height: 17px;
  }
}

input[type="checkbox"] {
  height: 20px;
  width: 26px;
  margin-right: 7px;
  cursor: pointer;  
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="checkbox"]:not(:checked) {
  border: 1px solid #E0E0E0;
}


.active {
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 13px;
  background-color: #FDFDFF;
}

.list-text {
  @include text;
  display: flex;
  align-items: center;
  margin: 16px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.94);

   @include phone {
    font-size: 16px;
    line-height: 19px;
  }

  @include landscape-up {
    
    font-size: 16px;
    line-height: 19px;  
  }

  @include mobile {
    font-size: 16px;
    line-height: 19px;  
  }

  @include fold {
    line-height: 19px;
  }
}



.list-text-checkbox {
  cursor: pointer;
}

.list-checkbox-active {
  @include column;
}

.list-checkbox-active-desciption {
  @include text;
  padding: 20px 20px 10px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);
}

.long {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include phone {
    width: 141px;
  }
}

.list-checkbox-active-name {
  @include text;
  width: 550px;
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #E0E0E0;
  background-color: #FDFDFF;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.94);

  @include phone {
    width: 327px;
    padding: 10px;
  }

  @include mobile {
    width: 350px;
    padding: 10px;
  }

  @include portrait-up {
    width: 303px;
  }
  
  @include galaxy {
    width: 200px;
    padding: 10px;
  }
}

.list-checkbox-active-container {
  @include row;

  @include galaxy {
    @include column;
  }
}

.list-checkbox-active-container-block {
  @include column;
  margin: 10px 20px 20px 0;
}

.list-checkbox-active-amount {
  @include row;
  justify-content: space-between;
  width: 255px;
  padding: 10px 10px 10px 20px;
  margin-left: 20px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 100px;
  @include desktop {
    width: 243px;
  }

  @include phone {
    width: 144px;
  }

   @include portrait-up {
    width: 129px;
  }
}

.list-checkbox-active-amount-money {
  @include field;
  width: 100%;
  color: rgba(0, 0, 0, 0.94);
  background-color: #FDFDFF;
}

.list-checkbox-active-amount-money:focus {
  outline: none;

}

.list-checkbox-active-amount-label {
  height: 15px;
  width: 10px;
  margin: 2px 5px;
}


.main-big-block-basic-chart {
  @include column;
  width: 824px;
  margin-top: 16px;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 13px;
  background: #FDFDFF;
  @include desktop {
    margin-top: 30px;
    width: 100%;
  }

  @include phone {
    width: 100%;
    margin: 50px 0;
  }

   @include landscape-up { 
    margin: 50px 0;
    width: 100%;
  }

  @include mobile { 
    margin: 50px 0;
    width: 100%;
  }

  @include portrait-up {
     margin: 30px 0 30px 0;
  }
}

.block-basic-chart-information {
  @include row;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  @include mobile {
    @include row;
  }

  @include portrait-up {
    @include column;
    align-items: center;
  }
}


.basic-chart-information-title {
  @include text;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.94);

  @include landscape-up {
    align-self: center;
  }

  @include mobile {
    text-align: start;
  }

  @include fold {
    font-size: 18px;
    line-height: 20px;
  }
}

.basic-chart-information-container {
  @include row;
   @include landscape-up {
    @include row;
    justify-content: space-between;
    width: 200px
  }

  @include mobile {
    @include row;
  }

  @include portrait-up {
    @include center;
    @include row;
    width: 100%;
  }
}

.basic-chart-information-value {
  @include column;
  margin: 0 25px 0 0;

  @include desktop {
    text-align: center;
    margin: 0 15px;
  }

  @include landscape-up {
    margin: 0;
  }

  @include mobile {
    margin: 0;
  }

  @include portrait-up {
    margin: 38px 25px 0 0;
  }

  @include fold {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.basic-chart-information-value-text {
  @include text;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.72);

  @include fold {
    font-size: 10px;
    line-height: 14px;
  }
}

.basic-chart-information-value-accoun {
  @include text;
  margin-top: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  @include fold {
    font-size: 16px;
    line-height: 19px;
  }
}

.basic-chart-information-list {
  margin: 0 24px;
  overflow: hidden;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 13px;
  @include desktop {
    margin: 0;
  }

  @include landscape-up {
    display: none;
  }

  @include mobile {
    display: none;
  }

  @include phone {
    display: none;
  }
}

.basic-chart-information-date {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  text-decoration: none;
  
}

.basic-chart-information-date:hover {
  cursor: pointer;
}

.basic-chart-information-dates {
  width: 201px;
  box-sizing: border-box;
  border-radius: 13px;
  background: #FDFDFF;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.basic-chart-information-date-value {
  @include text;
  @include center;
  width: 169px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.94)
}


#chart_div  svg{
  @include landscape-up {
    display: none;
  }

  @include mobile {
   display: none;
  }
}

/* AXES */
/* ticks */
.axis line {
  stroke: #c9c8c8;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #c9c8c8;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #777777;
  font-family: Lato;
  font-size: 120%;
}


g.axis.axis-y > g.tick.unactive text {
  display: none;
}

/* LINE CHART */
path {
  stroke-width: 4;
  fill: none;
  stroke: #1A76C8;
}


.footer {
  
  @include footer;
  @include big-desktop {
    width: 100%;
  }
}

.footer-containers {
  @include footer-containers;
}

.container {
  @include container;
  @include mobile {

    width: 30%;
  }
}

.filling {
  @include filling;
  @include mobile {
    @include text;
    font-size: 12px;
    line-height: 14px;
  }

  @include fold {
    padding: 5% 0;
    font-size: 10px;
    line-height: 14px;
  }
}

.icons {
  @include icons;
}

.container-icon {
  @include container-icon;
  @include mobile {
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
}

.icons-logo {
  @include mobile {
    width: 13px;
    height: 12px;
  }
}